input{
	outline: none;
}
.layerMask{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #999999;
	/* opacity: 0.4; */
}
.main{
	width: 1000px;
	margin: 0px auto;
	padding-top: 110px;
	clear: both;
}
.loginapp_form{
	height: 560px;
	width: 100%;
	display: inline-block;
	/* background-color: pink; */
	color: #495c81;
	height: 560px;
}
.loginapp_form .logintab{
	width: 310px;
	margin: 0px auto;
}
.loginuser{
	width: 300px;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	position: relative;
	background-color: #cccccc;
}

.userlogo{
	background: url(../images/usericon.png) no-repeat;
	background-position: 10px 11px;
	color: #ffffff;
	display: inline-block;
	float: left;
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	opacity: 0.99;
	width: 200px;
	padding-left: 62px;
	text-align: left;
}

.loginInput{
	float: left;
	padding-left: 10px;
	width: 224px;
	height: 30px;
	line-height: 30px;
	border: none;
	border-left-color: currentcolor;
	border-left-style: none;
	border-left-width: medium;
	border-left: 1px solid #ffffff;
	background: none;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #ffffff;
	top: 10px;
	left: 50px;
	position: absolute;
}
.passwordlogo{
	background: url(../images/passicon.png) no-repeat;
	background-position: 10px 11px;
	color: #ffffff;
	display: inline-block;
	float: left;
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	opacity: 0.99;
	width: 200px;
	padding-left: 62px;
	text-align: left;
}

.loginBtn{
	cursor: pointer;
width: 300px;
height: 50px;
border: 0;
background: #25292e;
font-size: 18px;
font-weight: bold;
color: #ffffff;
margin-top: 9px;
margin-bottom: 30px;
}
.loginApp{
	width: 36px;
	height: 36px;
	display: inline-block;
	margin: 0px;
	position: relative;
}
.reg{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	position: relative;
	top: -12px;
	right: 6px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ffffff;
}
.qqapp{
	
	background: url(../images/qq-hover.png) no-repeat;
}
.wbapp{
	background: url(../images/sine-hover.png) no-repeat;
}
.dbapp{
	background: url(../images/doub-hover.png) no-repeat;
}
.tqqapp{
	background: url(../images/tencen-sina-hover.png) no-repeat;
}
/* <a href="" class="loginApp qqapp"><img src="images/qq_icon_on24_22.png" alt=""></a>
						<a href="" class="loginApp wbapp"><img src="images/sina_icon_on24_22.png" alt=""></a>
						<a href="" class="loginApp dbapp"><img src="images/db_icon_on24_22.png" alt=""></a>
						<a href="" class="loginApp tqqapp"><img src="images/tqq_icon_on24_22.png" alt=""></a> */

/* .qqapp:hover{
	background: url(../images/qq-hover.png) no-repeat;
}
.wbapp:hover{
	background: url(../images/sine-hover.png) no-repeat;
}
.dbapp:hover{
	background: url(../images/doub-hover.png) no-repeat;
}
.tqqapp:hover{
	background: url(../images/tencen-sina-hover.png) no-repeat;
} */
.qqapp:hover{
	background: url(../images/qq_icon_on24_22.png) no-repeat;
}
.wbapp:hover{
	background: url(../images/sina_icon_on24_22.png) no-repeat;
}
.dbapp:hover{
	background: url(../images/db_icon_on24_22.png) no-repeat;
}
.tqqapp:hover{
	background: url(../images/tqq_icon_on24_22.png) no-repeat;
}


