/* 内容 */
.main {
	width: 1000px;
	/* height: 10000px; */
	margin: 0 auto;
	/* background-color: red; */
	/* padding-top: 110px; */
}

.main-1 {
	width: 100%;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #bfbfbf;
	font-weight: normal;
	padding: 10px 0px 5px 0px;
}

.main-1 a {
	color: #bfbfbf;
}

.main-1 a:hover {
	color: #666;
}

/* 真正的内容 */
.main-2 {
	width: 1000px;
	height: 1310px;
	/* background-color: red; */
	position: relative;
}

/* 左边图片 */
.main-2-l {
	width: 350px;
	position: relative;
	float: left;
}

.main-2-l .btn {
	position: absolute;
	font-size: 50px;
	font-weight: bold;
	z-index: 99;
	cursor: pointer;
}

.main-2-l .prev {
	width: 10px;
	height: 18px;
	top: 393px;
	background: url(../images/24753.png)no-repeat;
	background-size: 10px 18px;
	left: -20px;
}

.main-2-l .next {
	width: 10px;
	height: 18px;
	top: 393px;
	background: url(../images/24751.png)no-repeat;
	background-size: 10px 18px;
	right: -15px;
}

.main-2-l .prev1 {
	width: 32px;
	height: 48px;
	top: 250px;
	background: url() 0 0 no-repeat;
	left: -20px;
}

.main-2-l .next1 {
	width: 32px;
	height: 48px;
	top: 250px;
	background: url() 0 0 no-repeat;
	right: -15px;
}

.tupian {
	width: 350px;
	height: 350px;
	position: relative;
	/* overflow: hidden; */
}

.tupian ul {
	width: 2800px;
	height: 377px;
	/* position: absolute;/ */
	/* left: 0; */
}
.tupian li {
	float: left;
}


.tupian .tu {
	width: 350px;
	height: 350px;
	background-size: contain;
}

.tupian1 {
	background: url(../images/461080.jpg)no-repeat center;
}

.tupian2 {
	background: url(../images/461072.jpg)no-repeat center;
}

.tupian3 {
	background: url(../images/461073.jpg)no-repeat center;
}

.tupian4 {
	background: url(../images/461074.jpg)no-repeat center;
}

.tupian5 {
	background: url(../images/461075.jpg)no-repeat center;
}

.tupian6 {
	background: url(../images/461076.jpg)no-repeat center;
}

.tupian7 {
	background: url(../images/461077.jpg)no-repeat center;
}

.tupian8 {
	background: url(../images/461078.jpg)no-repeat center;
}

.list2 {
	width: 350px;
	height: 80px;
	margin: 0 auto;
	padding-top: 15px;
	position: relative;
	/* overflow: hidden; */
}

.list2 ul {
	width: 608px;
	height: 88px;
	position: absolute;
	left: -8px;
	padding-left: 6px;
}

.list2 ul li {
	width: 66px;
	height: 66px;
	padding: 8px 0 0 0;
	margin: 0 2px;
	cursor: pointer;
	position: relative;
	float: left;
}

.list2 .tu1 {
	width: 63px;
	height: 63px;
	background-size: cover;
	border: 1px solid black;
	/* display: none; */
}

/* 中间 */
.main-2-m {
	width: 330px;
	height: 414px;
	margin-right: 275px;
	float: right;

}

.love {
	background: url(../images/24747.png)no-repeat 0px center;
	background-size: 14px 13px;
	color: black;
	padding-left: 20px;
}

.cat {
	height: 36px;
	font-size: 24px;
	line-height: 36px;
	margin-top: 10px;
}

.cat a {
	color: #878787;
}

.headset {
	height: 52px;
	font-size: 20px;
	color: #333;
	line-height: 26px;
}

.price {
	font-size: 12px;
	line-height: 18px;
	color: rgb(153, 153, 153);
	padding-top: 5px;
	padding-bottom: 32px;
}

.price span {
	color: rgb(16, 131, 255);
	font-size: 18px;
	margin-left: 10px;
}

.free {
	width: 300px;
	font-size: 12px;
	padding-left: 44px;
}

.free .free-1 {
	background: url(../images/24690.png) no-repeat left center;
	background-size: 14px 14px;
	margin-left: 0px;
	padding-left: 17px;
	color: rgb(153, 153, 153);
}

.free .free-2 {
	background: url(../images/24689.png) no-repeat left center;
	background-size: 12px 14px;
	padding-left: 17px;
	color: rgb(153, 153, 153);
}

.color {
	height: 60px;
	color: #393433;
	font-size: 14px;
	padding: 5px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.color-1 {
	width: 34px;
	height: 54px;
	float: left;
	font-size: 12px;
	line-height: 54px;
	color: rgb(153, 153, 153);
}

.color-2 {
	width: 264px;
	height: 60px;
	float: left;
}

.color-2 img {
	width: 34px;
	height: 34px;
}

.color-3 {
	width: 115px;
	height: 58px;
	float: left;
	border: 1px solid black;
	text-align: center;
	background: #fff;
	color: black;
	/* min-width: 43px; */
	/* border: 1px solid #fff; */
}

.color-4 {
	width: 113px;
	height: 34px;
	border: 1px solid #fff;
}

.color-5 {
	width: 115px;
	height: 22px;
}

.name p {
	height: 20px;
	font-size: 12px;
	/* text-align: center; */
	line-height: 20px;
}

.name-1 {
	width: 43px;
	height: 58px;
	float: left;
	text-align: center;
	border: 1px solid white;
	background: #fff;
	color: black;
}

.name-2 {
	width: 41px;
	height: 34px;
	border: 1px solid #fff;
}

.amount {
	width: 330px;
	height: 24px;
	font-size: 12px;
	color: rgb(153, 153, 153);
	border-bottom-color: white;
	padding: 0px 0px 10px 0px;
	/* border-bottom: 1px solid #ccc; */
}

.mopt {

	display: inline;
	margin-left: 10px;
}

.amount a {
	color: black;
	background: #fff;
	text-align: center;
	border: 0px solid black;
}

.amount img {
	width: 13px;
	height: 13px;
}

.inpt {
	width: 52px;
	height: 24px;
	margin: 0px 7px;
	line-height: 24px;
	color: #666;
	font-size: 14px;
	border: none;
	background: white;
	text-align: center;
	border: 1px solid rgb(238, 238, 238);
}

.out {
	width: 330px;
	font-size: 22px;
	color: #999;
	font-weight: 100;
	text-align: center;
	margin-top: 5px;
	padding: 10px 0px 0px;
	/* 	padding-bottom: 0px; */
}

.out-1 {
	display: none;
}

.shopping {
	width: 330px;
	height: 36px;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 0px;
	color: #393433;
}

.shopping a {
	display: inline-block;
	width: 160px;
	height: 32px;
	border: none;
	color: black;
	line-height: 32px;
	font-size: 12px;
	border: 1px solid black;
	background-color: #fff;
	/* background-size: 15px; */
}

.shopping-1 {
	background: url(../images/24749.png)no-repeat 38px 8px;
	float: left;
	background-size: 15px;
}

.shopping-1 span {
	margin-left: 55px;
}

.shopping-2 {
	background: url(../images/24746.png)no-repeat 55px 8px;
	float: right;
	background-size: 12px;
}

.shopping-2 span {
	margin-left: 70px;
}

/* 右边猜你喜欢 */
.main-2-r {
	width: 200px;
	height: 1309px;
	margin-right: 35px;
	/* background-color: red; */
	position: absolute;
	top: 0px;
	right: 0px;
}

.like {
	margin-left: 30px;
	font-size: 14px;
	font-weight: bold;
}

.like-1 {
	width: 100%;
	height: 320px;
	margin-left: 30px;
	margin-top: 10px;
}

.like-1 a {
	color: rgb(51, 51, 51);
}

.like-1 a img {
	width: 200px;
}

.like-2 {
	font-size: 12px;
	line-height: 18px;
	padding-top: 16px;
}

.pai {
	font-size: 12px;
	margin-top: 7px;
	color: rgb(153, 153, 153);
}

.money {
	margin-top: 7px;
}

.money-1 {
	height: 24px;
	font-size: 14px;
	color: #3193F3;
	margin-top: 0px;
	float: left;
}

/* 大图片Lucky */
.lucky {
	width: 720px;
	margin-top: -825px;
	/* background-color: red; */
}

.lucky img {
	width: 720px;
}

/* 品牌简介 */
.brand {
	margin-top: 30px;
	font-size: 17px;
	color: rgb(38, 38, 38);
	background: url(../images/24830.png)no-repeat left center;
	background-size: 20px 21px;
}

.brand-1 {
	margin-left: 25px;
}

/* 猫王 */
.cat-1 {
	height: 72px;
}

.cat-2 {
	width: 718px;
	height: 72px;
	font-size: 12px;
	margin-top: 20px;
	color: rgb(51, 51, 51);
	line-height: 24px;
	/* overflow: hidden; */
}

/* 购物指南 */
.guide {
	margin-top: 30px;
	font-size: 17px;
	color: rgb(38, 38, 38);
	background: url(../images/24829.png)no-repeat left center;
	background-size: 20px 21px;
}

.guide-1 {
	margin-left: 25px;
}

/* 保证 */
.sure {
	height: 170px;
	margin-top: 20px;
	color: rgb(51, 51, 51);
	font-size: 12px;
	line-height: 32px;
}

/* 售后须知 */
.sale {
	width: 100px;
	height: 28px;
	margin-top: 20px;
	position: relative;
}

.sale-1 {
	width: 592px;
	font-size: 12px;
	color: rgb(102, 102, 102);
	border: 3px solid rgb(237, 237, 237);
	background: rgb(255, 255, 255);
	padding: 24px 30px;
	position: absolute;
	bottom: 33px;
	z-index: 999;
	display: none;
}

.sale:hover .sale-1 {
	display: block;
}

.sale-2 {
	width: 100px;
	height: 28px;
}

/* 温馨提示 */
.point {
	font-weight: bold;
}

.point-1 {
	padding-left: 24px;
}

/* 关于售后 */
.about {
	margin-top: 12px;
}

.about-2 {
	padding-left: 24px;
	text-indent: -24px;
}

.about-3 {
	margin-top: 8px;
	padding-left: 24px;
	text-indent: -24px;
}

.about-4 {
	margin-top: 12px;
}

.about-4 p {
	padding-left: 24px;
}
