.header {
	width: 100%;
	height: 56px;
	background: #25292e;
}

.header-top {
	width: 1000px;
	height: 56px;
	/* background: red; */
	margin: 0px auto;
}

.logo {
	float: left;
}

.logo img {
	width: 95px;
	height: 38px;
	padding-top: 7px;
}

/* .logo2:hover .logo3{
	background: reda(255,255,255, 0.2);
} */

.header-right {
	width: 400px;
	height: 55px;
	padding-left: 160px;
	/* background: pink; */
	float: right;
	padding-top: 7px;
}

.r-a li {
	font-size: 13px;
	float: left;
	padding-left: 10px;
	line-height: 45px;
	color: #666666;
	position: relative;
}

.a {
	color: #cccccc;
}

.active a {
	color: #666666;

}

.subnav {
	width: 400px;
	height: 150px;
	background-color: #25292e;
	position: absolute;
	top: 35px;
	display: none;
	z-index: 99;
}

.subnav h2 {
	color: white;
	text-align: center;
	margin-top: 50px;
}

.subnav-b {
	width: 400px;
	height: 60px;
	background: rgb(125, 191, 222);
	margin-top: 40px;
}

.subnav-b:hover {
	background: #96c8e0;
}

.subnav_left {
	left: 0px;
}

.subnav_right {
	right: 0px;
}

.r-a>li:hover .subnav {
	display: block;
}

.active a:hover {
	color: #cccccc;
}

.acti>a {
	color: #666666;

}

.subn {
	width: 235px;
	height: 318px;
	background-color: #25292e;
	position: absolute;
	top: 30px;
	display: none;
	z-index: 99;
}

.subn-1 {
	width: 235px;
	height: 312px;
	margin-top: 18px;
}

.subnav-c>a {
	color: white;
	text-align: center;
	margin-top: 10px;
}

.subnav-c p {
	color: white;
	text-align: center;
	float: right;
	margin-top: 1px;
}

.subna-b {
	width: 235px;
	height: 50px;
}

.subnav-c {
	width: 200px;
	height: 50px;
	border-bottom: 2px solid #666666;
	margin: 0px auto;
}

.subna-b:hover {
	background-color: #2e353d;
}

.subn_left {
	left: -90px;
}

.subn_right {
	right: 0px;
}

.r-a>li:hover .subn {
	display: block;
}

.acti a:hover {
	color: #cccccc;
}

.d {
	color: #666666;
}

.d:hover {
	color: #cccccc;
}

.r-a span {
	font-size: 13px;
	float: left;
	padding-left: 10px;
	/* padding: 10px; */
	line-height: 45px;
	color: #666666;
}









.tb-bottom {
	height: 50px;
	/* background: #2d2; */
}

.tb-center {
	width: 1000px;
	height: 50px;
	/* background: red; */
	margin: 0px auto;
}

.tb-left {
	width: 750px;
	height: 45px;
	border-bottom: 5px solid #cccccc;
	float: left;
}

.sy>li {
	width: 125px;
	height: 45px;
	float: left;
	text-align: center;
}

.sy-a {
	color: #000;
	line-height: 35px;
}

.sy>li:hover {
	border-bottom: 5px solid #000;
}

.tb-right {
	width: 250px;
	height: 45px;
	border-bottom: 5px solid #cccccc;
	float: left;
	/* background: pink; */
}

.ss-a {
	width: 55px;
	height: 45px;
	float: right;
}

.ss-b>li a img {
	width: 55px;
	height: 45px;
}

.ss-c>input {
	width: 195px;
	height: 45px;
	position: absolute;
	margin-left: -195px;
	border: 0px;
	outline: none;
	display: none;
}

.ss-b>li:hover img {
	border-bottom: 5px solid #000;
}

.ss-b>li:hover input {
	border-bottom: 5px solid #000;
	display: block;
}

.sd {
	width: 100%;
	height: 580px;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 112px;
	z-index: 99;
	display: none;
}

.sd-a {
	width: 1000px;
	height: 580px;
	/* background: red; */
	margin: 0px auto;
	overflow: hidden;
}

.sd-b {
	width: 700px;
	height: 500px;
	/* background: blue; */
	float: left;
}

.sd-c>li {
	width: 40px;
	height: 70px;
	/* background: white; */
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}

.sd-c>li img {
	width: 40px;
	height: 40px;
}

.sd-c>li h3 {
	font-size: 12px;
	color: #666666;
}

.sc-right {
	width: 250px;
	height: 280px;
	/* background-color: pink; */
	float: right;
	padding-top: 30px;
}

.sc-top {
	width: 200px;
	height: 200px;
	background-color: #cccccc;
	/* margin-left: 26px; */
	overflow: hidden;
	margin: 0px auto;
	padding-top: 30px;
}

.sc-top-a {
	width: 116px;
	height: 156px;
	/* background-color: red; */
	margin: 0px auto;
}

.sc-top-a img {
	width: 116px;
	height: 156px;
}

.sc-bottom {
	width: 200px;
	height: 30px;
	/* background-color: #000; */
	margin: 0px auto;
}

.sc-bottom>a {
	font-size: 14px;
	color: #666666;
	float: left;
}

.zx-bottom {
	width: 300px;
	height: 50px;
	/* background-color: red; */
	margin-top: 530px;
	margin-left: 30px;
}

.zx-bottom>a {
	font-size: 12px;
	color: #666666;
}

.zx-l {
	float: left;
}

.zx-r {
	float: right;
}

.sy>li:hover .sd {
	display: block;
}

.zz-top {
	width: 100%;
	height: 150px;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 112px;
	overflow: hidden;
	display: none;
	z-index: 99;
}

.zz-c {
	width: 1000px;
	height: 150px;
	margin: 0px auto;
	/* background: red; */
	overflow: hidden;
}

.zz-c>ul li {
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

.zz-c>ul li a {
	font-size: 16px;
	color: #666666;
}

.sy>li:hover .zz-top {
	display: block;
}

.fx-top {
	width: 100%;
	height: 150px;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 112px;
	overflow: hidden;
	display: none;
	z-index: 99;
}

.fx-c {
	width: 1000px;
	height: 150px;
	margin: 0px auto;
	/* background: red; */
	overflow: hidden;
}

.fx-c>ul li {
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}

.fx-c>ul li a {
	font-size: 16px;
	color: #666666;
}

.sy>li:hover .fx-top {
	display: block;
}



/*********************************************************************************************************** kj */
/* .main{
	width: 100px;
	height: 100px;
} */

.shop {
	margin-top: 100px;
	height: 248px;
	background: fbfdfe;
	overflow: hidden;
	border-top: 1px solid #cccccc;
}

.shop-top {
	width: 1000px;
	height: 120px;
	/* background: red; */
	margin: 70px auto;
}

.shop-center {
	width: 170px;
	height: 30px;
	/* background: blue; */
	margin: 0px auto;
}

.shop-center img {
	width: 20px;
	height: 10px;
	float: left;
	margin-top: 5px;
}

.shop-center h3 {
	font-size: 13px;
	color: #666666;
	float: left;
	margin-left: 10px;
}

.shop-center2 {
	width: 1000px;
	height: 90px;
	/* background: #2d2; */
}

.shop-a {
	width: 220px;
	height: 90px;
	/* background: white; */
	float: left;
	margin-left: 25px;
	margin-top: 30px;
}



.shop-1 {
	float: left;
}

.shop-2 {
	float: left;
}

.shop-2 p {
	margin-left: 10px;
	margin-top: 6px;
}

.shop-b {
	font-size: 17px;
	color: #000;

}

.shop-c {
	font-size: 12px;
	color: #cccccc;
}

.khd {
	height: 250px;
	background: #25292e;
	overflow: hidden;
}

.khd-center {
	width: 1000px;
	height: 238px;
	/* background: red; */
	margin: 0px auto;
	overflow: hidden;
}

.khd-l {
	width: 800px;
	height: 238px;
	/* background: blue; */
	overflow: hidden;
	float: left;
}

.sj-top {
	width: 196px;
	height: 44px;
	/* background: #3d3; */
	margin-top: 13px;
}

.khd-l img {
	float: left;
}

.sj-center {
	width: 274px;
	height: 188px;
	/* background: #25292e; */
	position: absolute;
	margin-top: -187px;
	display: none;
}

.sj-c>li a {
	font-size: 14px;
	color: #666666;
	float: left;
	line-height: 22px;
	margin-left: 20px;
}

.sj-c li a:hover {
	color: #cccccc;
}

.sj-c li:hover .sj-center {
	display: block;
}

.sj-bottom {
	width: 700px;
	height: 140px;
	/* background: pink; */
	margin-top: 50px;
}

.sj-b>a {
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
}

.sj-1 {
	font-size: 12px;
	color: #666666;
	float: left;
	text-indent: 1em;
}

.sj-bottom>p {
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
	text-indent: 1em;
}

.sj-b>a span {
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
}

.sj-b>span {
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
}


.sj-bottom>span {
	font-size: 12px;
	color: #666666;
	margin-left: 5px;
	float: left;
}

.sj-b>a:hover {
	color: #cccccc;
}

.sj-1:hover {
	color: #cccccc;
}

.khd-r {
	width: 200px;
	height: 238px;
	/* background: pink; */
	float: left;
}

.wx {
	width: 100px;
	height: 100px;
	/* background: blue; */
	float: right;
	margin-top: 30px
}

.wx-c {
	float: left;
	margin-left: 10px;
}

.wb {
	width: 143px;
	height: 175px;
	background: #25292e;
	position: absolute;
	margin-left: -55px;
	margin-top: -175px;
	display: none;
}

.wx-c:hover .wb {
	display: block;
}

.wx-a1 {
	position: absolute;
	margin-top: -18px;
	display: none;
}

.wx-a2 {
	position: absolute;
	margin-top: -19px;
	display: none;
}

.wx-a3 {
	position: absolute;
	margin-top: -17px;
	display: none;
}

.wx-c:hover .wx-a1 {
	display: block;
}

.wx-c:hover .wx-a2 {
	display: block;
}

.wx-c:hover .wx-a3 {
	display: block;
}